body {
/*	background-color:black;  */
/*
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size:cover;
*/
}

div.bg {
	background-image:url("picture/ocean1.jpg");
	background-repeat:no-repeat;
	background-size:cover;
/*	width:100%;  */
/*	border:black solid;  */
}


div.logo {
	text-align:center;
	padding-top:10%;
}


img.logo {
	width:4.2vw;
	height:4.2vw;
}

h1.top {
	font-size:4vw;
	font-style:italic;
	font-family:helvetica;
}

p.top {
	font-size:1vw;
	font-family:helvetica;
}

div.bg .Upper {
	text-align:center;
	color:black;
	padding-top:3%;
	padding-bottom:5%;
	line-height:100%;  
	font-family:"Helvetica";
}

/*ul.Middle {    */
ul.Middle {  
	height:12%;
	display:block;
/*	background-color:black;  */
	list-style:none;
	padding:3%;
	margin:auto;
	overflow:ignore;
	color:black;
/*	border:black solid;   */
}
li.Middle {
	color:black;
	font-size:1.5em;
/*	width:220px;  */
	width:14%;
	height:12%;
	display:block;
	float:left;
	position:relative;
	left:20%;
/*	border:white solid;  */
	
}


div.bg .the_left{
	left:25%;
	clear:both;
	padding-bottom:15%;   
}


img.me {
	width:14vw;
	position:relative;
	float:left;  
	padding-top:7%;  
	left:25%;
/*	height:30%;  */
/*	border: red solid;   */
	
}

div.bg .the_right{
	position:relative;
/*	float:left; */
	clear:right;
	top:20%;
	left:40%;
	width:40%; 
	color:white; 
/*	border:black solid;    */
	padding-bottom:8%;
}

h1.theright {
	padding-top:15%;
	font-size:1.6vw
/*	border:yellow solid;  */
}
h3.theright {
	left:35%;
	font-size:1.1vw;
}
p.theright {
	left:35%;
	text-indent:2em;
	font-size:1vw;
}
p.theright2 {
	left:35%;
	font-size:1vw;
}

a.ex1:link {
	color:black;
	text-decoration:none;
}    
a.ex1:visited {
	color:black;
	text-decoration:none;
} 
a.ex1:hover {
	color:blue;
	text-decoration:underline;
}   
a.ex1:active {
	color:purple;
	text-decoration:underline;
}  

a.ex2:link {
	color:white;
	text-decoration:underline;
}    

a.ex2:visited {
	color:white; 
	text-decoration:underline;
} 

a.ex2:hover {
	color:blue;
}   
a.ex2:active {
	color:purple;
}  

div.interval1 {
	position:relative;
	padding:5% 5% 5% 5%;
	margin-bottom:5%;
}

div.interval1 .sub1 {
	position:relative;
	float:left;
	left:17%;
	padding-right:1%;
	padding-bottom:5%;
}

div.interval1 .sub2 {
	position:relative;
	float:left;
	left:17%; 
	padding-right:1%;
	padding-bottom:5%;
}

p.call {
	font-size:0.9vw;
}

img.call {
	width:4vw;
}

div.interval1 .sub3 {
	position:relative;
	float:left;
	left:28%; 
	padding-right:1%;
	padding-bottom:5%;
}

div.interval1 .sub4 {
	position:relative;
	float:left;
	left:28%; 
	padding-right:1%;
	padding-bottom:5%;
}

div.interval1 .sub5 {
	position:relative;
	float:left;
	left:37%; 
	padding-right:1%;
	padding-bottom:5%;
}

div.interval1 .sub6 {
	position:relative;
	float:left;
	left:37%; 
	padding-right:1%;
	padding-bottom:5%;
	line-height:100%;  
}

img.thelink {
	width:1.5vw;
}


div.about {
	position:relative;
	background-image:url("picture/HOJrhtq.jpg");
	background-repeat:no-repeat;
	background-size:100%;
	padding-top:5%;
	padding-bottom:14%;
/*	border:red solid;  */
	margin:5% 0% 5% 0%;
}

div.abouttext {
    background:rgba(244,240,240,0.1);
/*	border:white solid;  */
	margin-left:60%;
	width:30%;
	padding:1.5%;
}

div.abouttext h1{
	position:relative;
	left:5%;  
/*	padding-left:15%;  */
	font-size:1.6vw;
	color:white;  
	letter-spacing:0.05vw;
/*	border:white solid;  */
}

div.abouttext p{
	position:relative;
	left:5%;
	color:white;  
	text-indent:2em;
	font-size:1vw;
	width:85%;
	letter-spacing:0.1vw;
/*	border:black solid;  */
/*	text-align:justify;  */
}


div.interval2 {
	position:relative;
	padding:3% 5% 3% 5%;
	margin-bottom:10%;
/*	border:black solid;  */
}

div.interval2 .sub7{
	position:relative;
	left:40%;
	float:left;
	padding-right:4%;
	padding-bottom:5%;
}
div.interval2 .sub8{
	position:relative;
	left:40%;
	float:left;
	padding-right:4%;
	padding-bottom:5%;
}

img.plogo {
	width:8vw;
}

p.interval2 {
	font-size:2vw;
	line-height:100%;
}

/* section for project */

div.project {
/*	background-image:url("picture/ppt1.jpg");   */
	padding-top:2%;
	background-color:gray;
/*	border:red solid;   */
}

span.instruct {
	font-size:1vw;
}

div.proj1 {
	position:relative;
	top:8%;
	left:15%;
	width:75%; 
	color:white; 
/*	border:black solid;    */
	padding-bottom:8%;
}

img.rf {
	height:40vh;
	width:30vw;
	position:relative; 
	float:left;  
	padding-top:6%;  
	left:10%;
/*	border:yellow solid; */
	clear:right;
}

h1.pj1 {
	padding-top:6%;
	font-size:1.6vw;
/*	border:green solid; */
	text-decoration:underline;
}

p.pj1 {
	font-size:1vw;
}

ul.pj1{
	padding-top:6%;
	font-size:1.6vw;
/*	border:green solid;   */
}

li.pj1 {
	font-size:1vw;
	line-height:1.5vw;
	letter-spacing:0.05vw;
	margin:2% 0% 2% 0%;
}

/* interval 3 */
div.interval3 {
	position:relative;
	padding:6% 5% 5% 6%;
	margin-bottom:0%;
/*	border:black solid;  */
}

img.skill {
	position:relative;
	left:43%;
	width:10vw;
}

/* skill section */
div.skill {
	position:relative;
	left:10%;
	width:90%;
	padding-bottom:8%;
/*	border:black solid; */
}

h1.prog {
	font-size:1.4vw;
	width:20%;  
	padding:0.5% 1% 0.5% 1%;
	color:white;
	background-color:#00BB00;
	border-radius:25px;
/*	border: solid black; */
}

p.prog {
	position:relative;
	left:5%;
/*	border:black solid; */
	width:80%;
}

span.prog {
	font-size:1vw;
	padding:0.15% 0.3% 0.15% 0.3%;
	color:white;
	background-color:#6C6C6C;
	border-radius:25px;
/*	border: solid black; */
}

h1.sys {
	font-size:1.4vw;
	width:20%; 
	padding:0.5% 1% 0.5% 1%;
	color:white;
	background-color:#0080FF;
	border-radius:25px;
/*	border: solid black; */
}

div.End {
	background-color:#842B00;
	padding:2% 5% 2% 5%;
}

p.End {
	position:relative;
	left:44%;
	font-size:1vw;
	color:white;
	width:50%;
}
