body {
/*    background-image: url("picture/black-images-9.png");  */
	background-color:black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


div.logo {
	text-align:center;
	padding-top:10%;
}

img.logo {
	width:4.2vw;
	height:4.2vw;
}

img.thelink {
	width:3.17vw;
}
img.gplus {
	width:3.28vw;
}


h1.top {
	font-size:3.8vw;
	font-style:italic;
	font-family:helvetica;
}

div.Upper {
/*	background-image:url("picture/website_background_by_modsoft-d3302jz.png");  */
	background-image:url("picture/top_pic.jpg");
	background-repeat:no-repeat;
	background-size:100%;
	text-align:center;
	color:white;
	padding-top:8%;
	padding-bottom:6%;
	line-height:100%;  
	font-family:"Helvetica";
}

ul.Middle {
	height:12%;
	display:block;
	background-color:black;
	list-style:none;
	padding:3%;
	margin:auto;
	overflow:ignore;
}
li.Middle {
	color:white;
	font-size:1.5em;
/*	width:220px;  */
	width:14%;
	height:12%;
	display:block;
	float:left;
	position:relative;
	left:20%;
/*	border:white solid;  */
	
}

div.the_left{
	position:relative;  
/*	top:108px;  */
/*	left:500px;  */
	left:25%;
	float:left;
	clear:both;
	padding-bottom:15%;   
/*	border:white 1px solid;  */
}

img.me {
	width:14vw;
	position:relative;
	padding-top:45%;  
/*	height:30%;  */
}

p.theleft {
	position:relative;
	padding-top:20%;
	font-size:1.6vw;
	color:white;
}

div.the_right{
	position:relative;
	left:35%;
	float:left;
	width:500px; 
	color:white;
/*	border:white 1px solid;  */
}
h1.theright {
	position:relative;
	padding-top:15%;
	font-size:1.6vw;
}
h3.theright {
	font-size:1.1vw;
}
p.theright {
	text-indent:2em;
	font-size:1vw;
}
p.theright2 {
	font-size:1vw;
}

a:link {
	color:#FFFFFF;
	text-decoration:none;
}    
a:visited {
	color:#FFFFFF;
	text-decoration:none;
} 
a:hover {
	color:blue;
	text-decoration:underline;
}   
a:active {
	color:purple;
	text-decoration:underline;
}  

